
/* Theme Color */
#logo { background-color: #6c32b8; }
.flex-carousel { border-top: 8px solid #6c32b8; border-bottom: 8px solid #6c32b8; }

.widget:hover .widget-title { border-bottom: 1px solid #6c32b8; }
.widget:hover .after-widget-title { background-color: #6c32b8; }

.pagination .current { background-color: #6c32b8; }
.pagination a:hover { background-color: #6c32b8; }

.to-top:hover { background-color: #6c32b8; }

.flex-direction-nav a:hover { background-color: #6c32b8; }

.input-append .add-on, .input-prepend .add-on {
	background-color: #6c32b8;
	border: 1px solid #6c32b8;
}

.recent-posts-widget .post-title a:hover,
.popular-posts-widget .post-title a:hover,
.small-slider .entry-title a:hover {
	color: #6c32b8;
}

.entry-single-meta { background-color: #6c32b8; }

.accordion-heading { background-color: #6c32b8; }

#wp-calendar td#today { background-color: #6c32b8; }

.overall_score, .overall_score .left_over_score { background-color: #6c32b8; }